DATABASE_URL=sqlite:///./rozgar.db
SECRET_KEY=change_this_to_a_random_hex_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

GROQ_API_KEY=
SENDER_EMAIL=
SENDER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAPS_API_KEY=
GOOGLE_GEOCODING_API_KEY=
GOOGLE_DISTANCE_MATRIX_API_KEY=

ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=change_this_for_production
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc.esewa.com.np/api/epay/transaction/status/

KHALTI_SECRET_KEY=
KHALTI_PUBLIC_KEY=
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_INITIATE_URL=https://dev.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://dev.khalti.com/api/v2/epayment/lookup/

PLATFORM_COMMISSION_RATE=0.08
FRONTEND_BASE_URL=http://localhost:5173
PAYMENT_SUCCESS_URL=http://localhost:5173/payment/success
PAYMENT_FAILURE_URL=http://localhost:5173/payment/failed
